<ion-view view-title="ACERCA">
  <ion-content padding class="about">
  <ion-grid>
            <ion-row>
               <ion-col col-12>
               <div align="center">
               <br>
               <img src="img/logoOneColorsB.png" alt="OneColors" class="about iconoOnecolors">
               <h1 class="about titulo">OneColors</h1>
               </div>
                  
               </ion-col>
               <ion-col col-12>
                  <h5 class="about version">0.9  <span class="about nombreVersion">Versión Beta</span></h5>
                  <h5 class="about parrafo">Obtén el color dominante de una fotografía.</h5>
                  <h3 class="about autor">Ángel Careaga</h3>
                  <h2 class="about autorTwitter"><i class="ion-social-twitter" style="width: 150%;"></i><a href="https://twitter.com/SoyAngelCareaga"> @SoyAngelCareaga</a></h2><br>
                  <h5 class="about texto"> © 2017 <span style="color: #007440; font-size: 100%;">CodeMach.</span></h5><br><br>
                  <h5 class="about licencia"><a href="http://pasted.co/b301fc34">Política de uso</a></h5>
               </ion-col>
            </ion-row>
         </ion-grid>
</ion-content>
</ion-view>

