
.about{
	background-color: #FAFAFA;
}

.about .iconoOnecolors
{
	width: 25%;/* en porcentaje (el highlight del foro lo trasforma) */
    height: 25%;
    position:fixed;
    z-index: -1;
	text-align: center;

}

.about .titulo
{
	margin-top: -1%;
    color: #212121;
	text-align: center;
}

.about .autor
{
    color: #212121;
	text-align: center;
}

.about .autorTwitter
{
    color: #212121;
    font-size: 90%;
	text-align: center;
}

.about.version{
	color: red;
	text-align: center;
}

.about.nombreVersion{
	color: red;
	text-align: left;
}

.about.texto{
	color: #303030;
	text-align: center;
}

.about.parrafo{
	color: #303030;
	text-align: center;
}

/* header */
.bar.bar-stable {
    background-color: #00897B;
    color: #FFFFFF;
    border-color: #00897B;
}
.bar.bar-stable .title {
    background-color: #00897B;
    color: #FFFFFF;
    border-color: #00897B;
}

#ion-navicon
{
	color: #FFFF;
}

.ion-navicon{
  color:orange;
}

.tab-item .tomaFoto
{
	text-align: center;
}

.fondoImagen, .pane
{
	background-color: #00897B;
    color: #FFFFFF;
}

#fondoBotones
{
	background-color: #FAFAFA;
	width: 100%;
	height: 100%;
}

.tabs-icon-top .tabs-color-active-positive
{
	background-color: red;
}

#divImagen
{
	text-align: center;
	align-content: center;
	align-items: center;
}

#imgDemo
{
	width: 100%;/* en porcentaje (el highlight del foro lo trasforma) */
    height: 100%;
    top:0;
    left:0;
    position:fixed;
    z-index: -1;
	text-align: center;
}

.colors
{
	width: 150%;
	height: 150%;
}

#etiquetaColor
{
	width: 100%;
    height: 200%;
    top:0;
    left:0;
    position:fixed;
    z-index: -1;
	
}